
body {
  background-color: #59BEDF;
  color: white;
}

h4 {
  color: white;
}

#campaign-list {
  width: 15%;
  height: 94%;
  border-right: 1px solid white;

  float:left;
  margin: 0;
}

#campaign-list li {
  list-style: none;
}

#content {
  width: 85%;
  height: 94%;

  float: right;
 }

.header {
  text-align: center;
}

.graph {
  height: 230px;
}

.campaign_list_item {
  font-size: 0.9em;
  border-bottom: 2px solid #eee;
  color: black;
}

.campaign_list_item a {

}

.active {
  color: green;
}

.planned {
  color: blue;
}

.campaign_span {
  font-size: 0.7em;
}


